Add guidelines on User-Agent header content

The New Relic SDK specification [defines functionality](https://github.com/newrelic/newrelic-telemetry-sdk-specs/blob/master/communication.md#user-agent) to append field-values to the `User-Agent` header. Exporters need to use this functionality to include information about what systems they are instrumenting. This is critical to ensuring analytics about data sources are possible.

The specification should have a section providing guidelines about how this field is formed and what valid values include. At a minimum values need to conform to [the `product` definitions defined in RFC 7231 Section 5.5.3](https://tools.ietf.org/html/rfc7231#section-5.5.3). Additionally, values should likely be required to include information about the instrumented systems in some encouraged format.

Initial thoughts on what the guidelines should be changed to include:

* SHOULD append a product identifier for the instrumented system. (going with SHOULD here to allow for the end user to deliberately override the decision).
* MUST use the functionality offered by the SDK to append the `User-Agent` header. (don’t want the exporter overriding the SDK portion of the header).
* MUST append a valid value as defined by a `product` in [RFC 7231 Section 5.5.5](https://tools.ietf.org/html/rfc7231#section-5.5.3)
* SHOULD include the name of the instrumented system.
* Then product name SHOULD remain as stable a value as possible.
* SHOULD include the version of the instrumented system if one is known.